@model IEnumerable<PartyInvite.Model.GuestResponse> 

@{
    ViewData["Title"] = "Responses";
}

<h2>People will attend </h2>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Gift</th>
    </tr>

    @foreach(PartyInvite.Model.GuestResponse r in Model)
    {
    <tr>
        <td>@r.Name</td>
        <td>@r.Email</td>
        <td>@r.Phone</td>
        <td>@r.Gift</td>
    </tr>
    }

</table>