
@{
    Layout = null;
    //ViewData["Title"] = "MyView";
}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container pt-3 border-success text-center">

        <h2 class="text-secondary"> Rag & Gala Party</h2>

        <h3 class="text-body font-weight-bold ">Hello ভাই ব্রাদারস</h3>
        <p class="text-body">এখন সময় @ViewBag.Time টা</p>
        <p class="text-success">@ViewBag.Greeting</p>

        <a asp-action="RvspForm" class="btn btn-outline-success">Rvsp Form</a>
    </div>
</body>
</html>