@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p class="display-4">There is no policy, Only Party.</p>

<img src="~/img/biriani.jpg" class="img-fluid rounded" alt="Biriani Image" />