@using PartyInvite.Model
@model PartyInvite.Model.GuestResponse

@{
    ViewData["Title"] = "RSVP Form";
}

<h2 class="font-weight-lighter">Let Us Know Your Presence</h2>

<div class="w-75">
    <!-- use /Home/FormControllerName for pure HTML -->
    <form asp-controller="Home" asp-action="RvspForm" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name">Your Full Name *</label>
            <input asp-for="Name" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Email">Professional Email ID *</label>
            <input asp-for="Email" type="email" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Phone">Your Phone Number *</label>
            <input asp-for="Phone" type="tel" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="WillAttend" asp>Will You Attend ? *</label>

            <select asp-for="WillAttend" class="form-control">
                <option value="">Choose an option</option>
                <option value="true">Yes, I'll be there</option>
                <option value="false">Sorry, I can't</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="GiftName">Gift name please *</label>
            <input asp-for="GiftName" type="text" list="browsers" placeholder="Select or write giftname" class="form-control">
            <datalist id="browsers">

                @foreach (var gift in (IEnumerable<Gift>)ViewData["GiftList"])
                {
                    <option value="@gift.Name">@gift.Name</option>
                }
            </datalist>
        </div>

        <button type="submit" class="btn btn-primary"> Submit RSVP </button>
    </form>
</div>