@model PartyInvite.Model.GuestResponse

@{
    ViewData["Title"] = "RSVP Form";
}

<h2 class="font-weight-lighter">Let Us Know Your Presence</h2>

<div class="w-75">
    <!-- use /Home/FormControllerName for pure HTML -->
    <form asp-action="RvspForm" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name">Your Full Name *</label>
            <input asp-for="Name" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Email">Professional Email ID *</label>
            <input asp-for="Email" type="email" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Phone">Your Phone Number *</label>
            <input asp-for="Phone" type="tel" class="form-control" />
        </div>

        <div class="form-group">
            <label asp>Will You Attend ? *</label>

            <select asp-for="WillAttend" class="form-check-label">
                <option value="">Choose an option</option>
                <option value="true">Yes, I'll be there</option>
                <option value="false">Sorry, I can't</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Gift">Select a gift *</label>

            <select asp-for="Gift" class="form-check-label">
                <option value="" selected>Choose an option</option>
                <option value="notebook">Notebook</option>
                <option value="islamicbook">Islamic Book</option>
                <option value="electronics">Electronics</option>
                <option value="nogift">No Gift</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary"> Submit RSVP </button>
    </form>
</div>